:root {
  --special: #00aaff;
  --primary: #2e2e2e;
  --secondary: #686c6f;
  --bg: #f2f2f4;
  --subtle: #e6e8ed;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Fira Code", monospace;
  background-color: var(--bg);
  color: var(--primary);
  max-width: 60%;
  margin: auto;
  /* min-height: 2000px; */
}

/* navigator? */
.navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 0;
  position: relative;
  z-index: 999;
}

/* Axel */
.navigator-logo {
  font-family: "Major Mono Display", monospace;
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  color: var(--primary);
}

/* obnoxious glowing logo */
.navigator-logo a {
  color: var(--primary);
  transition: all 0.5s ease;
  cursor: default;
}
.navigator-logo a:hover {
  color: var(--glow);
  text-shadow: 0 0 2px var(--glow), 0 0 4px var(--glow), 0 0 8px var(--glow);
}

/* buttons at the center (but forced to stay at the right side) */
.navigator-nav {
  margin-left: auto;
}
.navigator-nav a {
  color: var(--secondary);
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
  padding: 4px;
}
/* if hovered with cursor */
.navigator-nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
/* right menu */
.navigator-ex {
  background-color: var(--primary);
}
.navigator-ex button {
  background: none;
  border: none;
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--bg);
  padding: 0 8px;
  cursor: pointer;
}
/* !! part of: mobile responsive hidden menu */
/* hide menu */
#menu {
  display: none;
}
/* navigator! */

/* mychro box? */
/* yes, the black box i really love */
.mychro {
  margin: 10vh 0 10vh;
  background-color: var(--primary);
  padding: 2rem 2rem;
  position: relative;
}
.mychro .content {
  color: var(--bg);
  text-align: left;
}
.mychro .content h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 4em;
  color: var(--bg);
  margin-bottom: 1.4rem;
}
.mychro .content h1 span {
  color: var(--special);
}
.mychro .content p {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 300;
}
.mychro .content p span {
  color: var(--subtle);
  font-weight: 700;
}
.mychro .content .mcr {
  color: #1fd660;
}
/* mychro box! */

/* literally just a divider bar? */
.divider {
  height: 4px;
  background-color: var(--subtle);
}
/* literally just divider bar! */

/* about? */
.about {
  display: flex;
  align-items: flex-start;
  margin: 10vh 0 10vh;
}
/* imathe */
.profile {
  background-color: var(--primary);
  padding: 0.4rem;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2vw;
}
.about h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}
.about h2 span {
  color: var(--special);
}
.about p {
  color: var(--secondary);
  font-weight: 500;
  line-height: 1.6;
  margin: 2rem 0 0;
}
.about p span:hover {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: default;
}
/* about! */

/* footer? */
.footer {
  background-color: var(--primary);
  margin: 2rem 0;
  padding: 0.6rem;
  color: var(--bg);
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_link {
  margin: 0 0.5rem;
  color: var(--bg);
  transition: color 0.5s ease;
}

.footer_link:hover,
.footer_link:focus {
  color: var(--secondary);
}
/* footer! */

/* !!! omg media queries !!! */
/* laptop */
@media (max-width: 1366px) {
  body {
    max-width: 80%;
  }
}
/* tablet */
@media (max-width: 768px) {
  body {
    max-width: 85%;
  }
}
/* mobile */
@media (max-width: 450px) {
  body {
    max-width: 90%;
  }
  #menu {
    display: inline-block;
  }
  /* !! mobile responsive hidden menu !! */
  /* hide it at the top, off-screen */
  .navigator .navigator-nav {
    position: absolute;
    top: -4vh;
    transition: 0.5s;
  }
  .navigator .navigator-nav a {
    font-size: 1.5rem;
  }
  /* when menu is clicked, script will switch it to "active" class */
  .navigator .navigator-nav.active {
    top: 9vh;
  }
  /* !!! move imathe above, resize stuff !!! */
  .about {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .profile {
    margin-right: 0;
  }
  .about h2 {
    margin-top: 4vh;
  }
}
