@import "./fonts.css";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  @apply size-full max-h-full max-w-full bg-white transition-colors duration-300 dark:bg-black;
}

body {
  @apply font-google-sans-flex relative min-h-screen min-w-full text-gray-900 dark:text-gray-100;
}
